<html>
<!-- pi List -->
{% load staticfiles %}
<title>
  ASUi3dea Authorized User
</title>
<head>
  <script>
    var pi_list = {{pi_list_json|safe}}; //json so doesn't need quotes
    var available_models = {{available_models|safe}};
    var groups = {{groups_json|safe}}
    var csrfToken = '{{csrf_token}}'
  </script>

 <script src="{% static "ASUi3dea/js/jquery-1.12.0.js" %}"/></script>
 <script src="{% static "ASUi3dea/js/us-states.js" %}"/></script>

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
 <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
 <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link href="{% static "ASUi3dea/css/authUser.css" %}" rel="stylesheet"/>

<!--  marker cluster -->
 <link rel="stylesheet" href="{% static "ASUi3dea/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" %}"/>
 <script src="{% static "ASUi3dea/node_modules/leaflet.markercluster/dist/leaflet.markercluster-src.js" %}"/></script>

</head>

<body>
  <script>
    //sample of how to format json
    // groups = jQuery.parseJSON(`
    //   [
    //     {
    //       "name" : "My-first-Group",
    //       "inverters" : [
    //         {
    //           "inverterName": "9tbt6xjthvjvez32e5jg6e00-0",
    //           "lat": 33.3059398,
    //           "lon": -111.6792469
    //         },
    //         {
    //           "inverterName": "9tbt6xjthvjvez32e5jg6e00-1",
    //           "lat": 33.3059398,
    //           "lon": -111.6792469}
    //       ]
    //     },
    //     {
    //       "name": "Second-Group",
    //       "inverters" :
    //         [
    //           {
    //             "inverterName": "9tbt6xjthvjvez32e5jg6e00-0",
    //             "lat": 33.3059398,
    //             "lon": -111.6792469
    //           }
    //         ]
    //       }
    //     ]`)
  </script>
  <header>
    <div>
      <h4 style=" margin: 5px; float: right;"> logged in as {{full_name}} </h2>
      <p style="clear: right; float: right;"> Click <a href="/ASUi3dea/logout/">here</a> to logout. </p>
    </div>
  </header>

<!--
  <div class="dropdown" style="margin-bottom: 10px; margin-left: 40px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >None
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="data-types-dropdown">
    </ul>
  </div>
-->

  <div id="maplist">
    <div id="map"></div>
    <div class="listContainer">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#mygroups">My Groups</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add all to group
            <span class="caret"></span></button>
            <ul class="dropdown-menu" id="group-dropdown"></ul>
          </div>
          <div class="list-group", id="inverters"></div>
        </div>
          <div id="mygroups" class="tab-pane fade">
            <div class="list-group", id="groups"></div>
          </div>
      </div>
    </div>
  </div>

 <script src="{% static "ASUi3dea/js/map.js" %}"></script>
</body>
</html>
<!-- Sample From
      <form id="controlFrm" action="/ASUi3dea/save_controls/" method="POST">{% csrf_token %}
        <div><span>ID: </span><span id="pk"></span></div>
        <input type="checkbox" name="on_off" value="True" id="on_off">
        <input type="submit" value="Save"/>
      </form>
-->
