<html>
{% block content %}

<h2> Hi {{full_name}}, you are logged in! </h2>
<p> Click <a href="/ASUi3dea/logout/">here</a> to logout. </p>

{% endblock %}

<!-- Inverter List -->
{% load staticfiles %}
<header>
  <script>
    var inverter_list = {{inverter_list_json|safe}};
  </script>
</header>

<head>
 <script src="{% static "ASUi3dea/js/jquery-1.12.0.js" %}"/></script>

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
 <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
 <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

 <link href="{% static "ASUi3dea/css/bootstrap.css" %}" rel="stylesheet"/>
 <link href="{% static "ASUi3dea/css/bootstrap-switch.css" %}" rel="stylesheet"/>
 <script src="{% static "ASUi3dea/js/bootstrap-switch.js" %}"/></script>


 <style>
  #map { height: 600px; width: 600px; display: inline-block;}
  .information { display: inline-block; height: 29px;}
 </style>
</head>
<body>
  <div id="mapControlContainer">
    <div id="map"></div>
    <div class="information">

      <div><span>Temp: </span><span id="temp"></span></div>
      <div><span>Latitude: </span><span id="lat"></span></div>
      <div><span>Longitude: </span><span id="lng"></span></div>
      <div><span>On Time: </span><span id="time"></span></div>
      <a href="/ASUi3dea/" id="detailHref">Details</a>
    </div>
 </div>

 <script src="{% static "ASUi3dea/js/map.js" %}"></script>

</body>

</html>
