{% load staticfiles %}
<head>
  <!-- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--bootstrap-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--static-->
  <link rel="stylesheet" type="text/css" href="{% static "ASUi3dea/css/detail.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "ASUi3dea/css/bootstrap-switch.css" %}">
  <script src="{% static "ASUi3dea/js/bootstrap-switch.js" %}"></script>
  <!--d3-->
  <script src="//d3js.org/d3.v3.min.js"></script>

  <script>
    var inverter = "{{inverter}}";
  </script>

</head>

<body>
  <header>
    <span>
      <h5 style="margin: 0px;">ID:</h5>
      <h1 style="display: inline-block; margin: 0px;">{{ inverter.pk }}</h1>
      <p style="float: right; display: inline-block;"> Click <a href="/ASUi3dea/logout/">here</a> to logout. </p>
    </span>
  </header>

  <main>
  <!--side panel-->
  <!--Overview-->
  <div class="panel-group">
    <div class="panel panel-default" id="navigator" >
        <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" id="overview" href="#collapse1">Overview</a>
          {% url 'ASUi3dea:single_overview' inverter_pk=inverter.pk as overview_url %}
          <script>
          $("#overview").click(function() {
              d3.json("{{overview_url}}", function(error, data) {
                //draw_line_graph(data);
              });
            });
          </script>
        </h4>

      </div>
    </div>

    <!--Controls-->
    <div class="panel panel-default" id="navigator" >
        <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Controls</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group nav nav-pills nav-stacked" style="padding: 5px;">
          <li class="nav-tab"><a href="#">
            <form id="controlFrm" action="/ASUi3dea/save_controls/" method="POST">{% csrf_token %}
              <p>On/Off</p>
              <input type="checkbox" name="on_off" value="True" id="on_off">
            </form>
          </a></li>
          <li class="nav-tab"><a href="#">Control2</a></li>
        </ul>
        <div class="panel-footer">
          <form action="ASUi3dea/save_controls" style="margin: 0px;">{% csrf_token %}
              <input type="button" onclick="location.href='ASUi3dea/save_controls';" class="btn btn-primary" value="Save" />

          </form>
        </div>
      </div>
    </div>

    <!--Attributes-->
    <div class="panel panel-default" id="navigator" >
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">Attributes</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group nav nav-pills nav-stacked" style="padding: 5px;">

          {% for attribute in attributes %}
              {% url 'ASUi3dea:get_inverter_data' inverter_pk=inverter.pk data_set=attribute.0 as the_url %}
              <li class="nav-tab"><a id="{{attribute.0}}" href="#section2"> {{ attribute.1.generic_name }}</a></li>
              <!--<li class="nav-tab"><a id="{{attribute.0}}" href="#section2"> {{ attribute.1.generic_name }}: {{attribute.1.get_data.1}}</a></li>-->
              <script>
              $("#{{attribute.0}}").click(function() {
                  d3.json("{{the_url}}", function(error, data) {
                    draw_line_graph(data);
                  });
                });
              </script>
          {% endfor %}
        </ul>
    </div>
  </div>
  {% url 'ASUi3dea:pull_data_from_inverter' inverter_pk=inverter.pk as update_url%}
  <form action="{{update_url}}" style="margin: 1em;">{% csrf_token %}
      <input type="button" onclick="location.href='{{update_url}}';" class="btn btn-primary" value="Update" />
  </form>
</div>

  <!--analytics container-->
  <div id="analytics" style="display: inline-block;"></div>

</main>
<script src="{% static "ASUi3dea/js/graph.js" %}"/></script>
</body>
