
header{
  width: 100%;
  background-color: #262626;
  color: white;
  height: 60px;
  padding-top: 7px;
  z-index: 1;
}

main{
  height: 100%;
}

.loader{
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#update-loader{
  display: inline-block;
  vertical-align: middle;

}
#options-content{
  border-left: thin solid #fff;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 0px 20px;
}

.left-sidebar{
  float: left;
  width: 200px;
  height: 100%;
  background-color: #F9F9F9;
  margin: 10px;
}

.control-label{
  text-align: center;
  width: 140px;
}

.chart {
  display: inline-block;
}

.chart-container{
  display: inline-block;
  width: 80%;
}

.panel-group{
  top: 60;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

body {
color: black;
background-color: #fff;
}




@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}

	input[type="range"].multirange.original {
		position: absolute;
	}

		input[type="range"].multirange.original::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
		}

		input[type="range"].multirange.original::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.ghost {
		position: relative;
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 0 45% / 100% 40%;
		--range-color: #448AFF;
	}

		input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
			background: var(--track-background);
		}

		input[type="range"].multirange.ghost::-moz-range-track {
			background: var(--track-background);
		}

}
